<%- include("templates/header") %> 
<div class="text-center">
<a class="btn btn-secondary rounded-pill px-3" href='/signup'>sign up</a> 
<br><br> 
<a class="btn btn-secondary rounded-pill px-3" href='/login'>login</a>
</div>
<%- include("templates/footer") %> 