<li> <%= user.username %> (<%= user.user_type %>) <a class="btn btn-success rounded-pill px-3" href='/admin/<%=user.username%>/1'>Promote to admin</a> <a class="btn btn-danger rounded-pill px-3" href='/admin/<%=user.username%>/2'>Demote to user</a> </li>
 <br>                                                             