<li> <%= user.username %> (<%= user.user_type %>) <a href='/admin/<%=user.username%>/1'>Promote to admin</a> <a href='/admin/<%=user.username%>/2'>Demote to user</a> </li>
                                                              